<% au = AuthUser.find_by_id(session[:auth_user_id]) %>
<% if au %>


<!DOCTYPE html>
<html>
<head>
  <meta  name="viewport" content="width=device-width">
  <title>りすとがぞったー</title>

<!-- navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">りすとがぞったー</a>
      <p class="navbar-text"><%= @tl_name %>_timeline</p>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"></li>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <p class="navbar-text">Signed in as <%= au.nickname %></p>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">リスト <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <ul style="list-style:none;">
            <% @lists.each do |list| %>
              <li><%= link_to list.name, listtimeline_path(id: list.id, name: list.name) %>
              </li>
            <% end %>
          </ul>
          </ul>
        </li>
        <li><a href="/auth/twitter/signout">ログアウト</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--  -->

</head>


<body>
<div class="contents_tweet">
  <% @tweets_with_image.each do |tl| %>




<div class="umekomi">
<blockquote class="twitter-tweet" data-lang="ja">

<!-- <p lang="ja" dir="ltr">八坂神奈子 <a href="https://t.co/bNpyJWgHFC">pic.twitter.com/bNpyJWgHFC</a></p> -->


&mdash; <%= tl.user.name %> (@<%= tl.user.screen_name %>) <a href="https://twitter.com/<%= tl.user.screen_name %>/status/<%= tl.id %>">2016年11月26日</a></blockquote>




<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>




<!--     <div class="message clearfix">
      <%= image_tag(tl.user.profile_image_url) %>
      <div class="message_box">
        <p class="user_name">
          <%= tl.user.name %> @<%= tl.user.screen_name %><br>
        </p>
        <p class="text">
          <%= tl.id %>
          <br><%= tl.created_at %>
          <br><%= tl.text %>
        </p>
          <p class="media">
            <% tl.media.each do |media| %>
              <%= image_tag(media.media_url) %>
            <% end %>
          </p>
      </div>
    </div> -->
  <% end %>
</div>
</body>
</html>


<% else %>
<!-- 部分テンプレート化 -->
<%= render partial: "login_page", locals: { client: @client } %>
<% end %>