<!DOCTYPE html>
<html>
<head>
  <title>Twilogintest</title>
</head>
<header>
  <h1>《<%= @tl_name %>》のタイムライン</h1>
    <ul id="normal" class="dropmenu">
      <li><a>リスト</a>
        <ul>
          <% @lists.each do |list| %>
            <li><%= link_to list.name, listtimeline_path(id: list.id, name: list.name) %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
    <div class="button">
      <a href="/auth/twitter/signout" class="btn">　ログアウト　</a>
    </div>
</header>

<div class="contents_tweet">
  <% @tweets_with_image.each do |tl| %>
    <div class="message clearfix">
      <%= image_tag(tl.user.profile_image_url) %>
      <div class="message_box">
        <p class="user_name">
          <%= tl.user.name %> @<%= tl.user.screen_name %><br>
        </p>
        <p class="text">
          <%= tl.text %>
        </p>
          <p class="media">
            <% tl.media.each do |media| %>
              <%= image_tag(media.media_url) %>
            <% end %>
          </p>
      </div>
    </div>
  <% end %>
</div>
</html>