<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">りすとがぞったー</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">リスト <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <ul style="list-style:none;">
            <% @lists.each do |list| %>
              <li><%= link_to list.name, listtimeline_path(id: list.id, name: list.name) %>
              </li>
            <% end %>
          </ul>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
        <li><a href="/auth/twitter/signout">ログアウト</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!DOCTYPE html>
<html>
<head>
  <title>りすとがぞったー</title>
</head>
<header>
  <h1>《<%= @tl_name %>》のタイムライン</h1>
</header>

<div class="contents_tweet">
  <% @tweets_with_image.each do |tl| %>
    <div class="message clearfix">
      <%= image_tag(tl.user.profile_image_url) %>
      <div class="message_box">
        <p class="user_name">
          <%= tl.user.name %> @<%= tl.user.screen_name %><br>
        </p>
        <p class="text">
          <%= tl.text %>
        </p>
          <p class="media">
            <% tl.media.each do |media| %>
              <%= image_tag(media.media_url) %>
            <% end %>
          </p>
      </div>
    </div>
  <% end %>
</div>
</html>