<% au = AuthUser.find_by_id(session[:auth_user_id]) %>
<% if au %>


<!DOCTYPE html>
<html>
<head>
  <meta  name="viewport" content="width=device-width">
  <title>りすとがぞったー</title>
</head>
<body>
  <header>

<!-- navbar -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">りすとがぞったー</a>
      <p class="navbar-text"><%= @tl_name %>_timeline</p>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"></li>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <p class="navbar-text">Signed in as <%= au.nickname %></p>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">リスト <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <ul style="list-style:none;">
            <% @lists.each do |list| %>
              <li><%= link_to list.name, listtimeline_path(id: list.id, name: list.name) %>
              </li>
            <% end %>
          </ul>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
        <li><a href="/auth/twitter/signout">ログアウト</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--  -->

  </header>

  <div class="contents">
    <div id="main">
      <h3>ログイン中</h3>
        　@<%= au.nickname %>
      <ul style="list-style:none;">
        <li><img src="<%= au.img_url %>" /></li>
        <li><%= au.user_info["location"] %></li>
        <li><%= au.user_info["description"] %></li>
      </ul>
      <div id="menu">
      </div><!-- menu -->
      <h3>利用方法</h3>
        　twitterと一緒に使います。
      <ul style="list-style:none;">
        <li>①ジャンルごとにリストを作成する。</li>
          　　(例: ラブライブ!,デレマス,など。)
        <li>②各リストにお気に入り絵師さんを登録する。</li>
        <li>③ついったーで各リストのイラスト更新をチェック♪</li>
      </ul>
      <h4>ご利用規約</h4>
        <ul>
          <li>利用は無料ですので、どなたでもお気軽にいつでもお楽しみいただけます。</li>
          <li>Twitter認証は、"ツイートなどの情報を読み込む為のみ"に使用されます。ツイートしたりフォローしたり等の乗っ取り行為は一切されませんので、安心してご利用ください。</li>
        </ul>
      <h4>おまけ</h4>
        <ul style="list-style:none;">
          <li>当サービスは、ベータ版(プロトタイプ)につき、ご意見やご感想を募集中です。<br><br>
          　∧,,,,∧ <br>
          .(*`･ω･)　<　<a href="">こちらのフォーム</a>から<br>
          ./つ(⌒⌒)　　もしくは<br>
          しー ＼／　　　作成者<a href="https://twitter.com/MosamosaPoodle?lang=ja">@MosamosaPoogle</a>にDMでも！<br>
          </li>
          <li>今後バージョンアップする際や不具合修正などの参考にさせていただきます。よろしくお願いいたしますm(_ _)m</li>
        </ul>
      </div><!-- main -->
    </div><!-- contents -->
</body>
</html>


<% else %>
<!-- 部分テンプレート化 -->
<%= render partial: "login_page", locals: { client: @client } %>
<% end %>