<% au = AuthUser.find_by_id(session[:auth_user_id]) %>
<% if au %>

<pre>
id: <%= au.id %>
provider: <%= au.provider %>
uid: <%= au.uid %>
name: <%= au.name %>
screen_name: <%= au.screen_name %>
nickname: <%= au.nickname %>
img_url:  <%= au.img_url %>
<img src="<%= au.img_url %>" />
credentials: <%= au.credentials %>
token: <%= au.token %>
secret: <%= au.secret %>
user_info: <%= au.user_info %>
</pre>


<!-- ログアウトリンクつけたよ -->
<br><%= link_to 'ログアウト', '/auth/twitter/signout' %>




<ul id="normal" class="dropmenu">
  <li><a href="#">menu</a>
    <ul>
      <% @client.lists.each do |list| %>
      <li><%= link_to list.name, listtimeline_path(name: list.name) %></li>
      <% end %>
    </ul>
  </li>
</ul>


<% else %>

認証ログインしてないぞい！
<%= link_to 'ログイン', '/auth/twitter' %>

<% end %>