<% au = AuthUser.find_by_id(session[:auth_user_id]) %>
<% if au %>

<pre>
id: <%= au.id %>
provider: <%= au.provider %>
uid: <%= au.uid %>
name: <%= au.name %>
screen_name: <%= au.screen_name %>
nickname: <%= au.nickname %>
img_url:  <%= au.img_url %>
<img src="<%= au.img_url %>" />
credentials: <%= au.credentials %>
token: <%= au.token %>
secret: <%= au.secret %>
user_info: <%= au.user_info %>
</pre>


<!-- ログアウトリンクつけたよ -->
<br><%= link_to 'ログアウト', '/auth/twitter/signout' %>




<ul id="normal" class="dropmenu">
  <li><a href="#">menu</a>
    <ul>
      <% @client.lists.each do |list| %>
      <li><%= link_to list.name, listtimeline_path(name: list.name) %></li>
      <% end %>
    </ul>
  </li>
</ul>





<!-- 特定ユーザーのツイート取ってくるンゴ clintにログインしたユーザーの情報が入ってる。→ApplicatonController.rb twitter_clientで明記 -->
<br>
============== タイムラインのfirst_id ==================================<br>
<%= @client.home_timeline.first.id %>
<br>
<br>
============== home_timeline_5個 ==================================<br>
<% @client.home_timeline({count: 5}).each do |tweet| %>
・<%= tweet.full_text %>
<br>
<% end %>
<br>
<br>
<br>

============== リスト全表示 ==================================<br>
<% @client.lists.each do |list| %>
<%= link_to list.name, listtimeline_path(name: list.name) %>
<br>
<% end %>
<br>
<br>

============== ログイン中ユーザーの☻という名前のリスト内のツイート、デフォルト件数だけ表示 ==================================<br>
<% @client.list_timeline("☻",:include_entities => true).each do |tl| %>
・<%= tl.text %><br>
  <% tl.media.each do |media| %>
    <img src="<%= media.media_url %>" />
  <% end %>
<br>
<% end %>





<% else %>

認証ログインしてないぞい！
<%= link_to 'ログイン', '/auth/twitter' %>

<% end %>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
$(function() {
  $('.list-name').click(function(){
    var hoge = $(this).text();
    console.log(hoge);
  });
});
</script>